.myGame{
    height: 100vh;
}

canvas {
    background-color:#000000;
}

*{
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.scoreBoard{
    position: fixed;
    top: 5%;
    left: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
}

form {
    background-color: rgb(255, 255, 255, 0.150);
    height: 60vh;
    width:60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}

form > select, form > select option {
    padding: 2vmax;
    width: 20vw;
    /* font-color: #000; */
    text-align: center;
    font-size: 1.4vmax;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
    transition: all 0.5s;
    border: none;
}

form > input {
    margin: 2vmax;
    padding:2vmax;
    width: 20vw;
    cursor: pointer;
    border: none;
    color: whitesmoke;
    transition: all 0.5s;
    background-color: bisque;
    font-size: 1.4vmax;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
}

form > select:hover {
    box-shadow: 0 0 10px whitesmoke;
}

form > input:hover {
    background-color: bisque;
    box-shadow: 0 0 10px whitesmoke;
}